@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 38% 95%;
    --foreground: 222 39% 24%;

    --primary: 222 39% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 28 63% 90%;
    --secondary-foreground: 222 39% 24%;

    --accent: 25 69% 68%;
    --accent-foreground: 222 39% 24%;

    --destructive: 344 49% 32%;
    --destructive-foreground: 0 0% 100%;

    --muted: 222 39% 97%;
    --muted-foreground: 222 39% 45%;

    --card: 28 63% 98%;
    --card-foreground: 222 39% 24%;
    --popover: 28 63% 98%;
    --popover-foreground: 222 39% 24%;

    --border: 222 39% 86%;
    --input: 222 39% 86%;
    --ring: 25 69% 68%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 39% 12%;
    --foreground: 28 63% 90%;

    --primary: 222 39% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 28 63% 15%;
    --secondary-foreground: 28 63% 90%;

    --accent: 25 69% 68%;
    --accent-foreground: 222 39% 12%;

    --destructive: 344 49% 32%;
    --destructive-foreground: 0 0% 100%;

    --muted: 222 39% 15%;
    --muted-foreground: 222 39% 65%;

    --card: 222 39% 15%;
    --card-foreground: 28 63% 90%;
    --popover: 222 39% 15%;
    --popover-foreground: 28 63% 90%;

    --border: 222 39% 25%;
    --input: 222 39% 25%;
    --ring: 25 69% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
